main > * {
    font-size: 2em;
    font-family: "DM Serif Display", serif;
}

main > blockquote {
    background: linear-gradient(var(--theme-popup-border) 20%,rgba(31, 31, 31, 0.534));
    border-radius: 50px 0px;

    transition-duration: 500ms;
    transition-delay: 500ms;

    box-shadow: 0px 0px 100px black inset, 0px 0px 30px black;
    border-style: double solid solid solid;
    border-width: 10px 20px 10px 5px;
    border-color: var(--theme-popup-bg);

    margin-top: -20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

main > p {
    background: linear-gradient(var(--theme-popup-border),rgba(0, 0, 0, 0.301));

    padding: 19px;
    padding-top: 7px;
    border-width: 20px 1px 5px 1px;
    border-color: black;
    border-style: solid;
    border-radius: 0px 0px 20px 20px;


    box-shadow: 0px 20px 30px black;

    transition-duration: 500ms;
    transition-delay: 0ms;
}

main strong {
    color: var(--bg);
    text-shadow: 0px 2px 2px black, 0px 0px 8px black;
}

main em {
    opacity: 0.5;
}

main > p, main > blockquote {
    text-shadow: 0px -1px 8px var(--bg),0px -1px 2px white,0px 2px 2px var(--fg), 0px 0px 8px var(--fg);
}


